/* Local CSS */
@import '../../shared/css/imports';

$calendar-day          : #b9c5ce;
$lead-in-calendar-day  : #506d85;
$buffer-calendar-day   : #f0ab66;
$injection-calendar-day: #ec7700;
$invalid-calendar-day  : #999999;
$calendar-divider      : #fad866;

.referencesTest {
    position: absolute;
    top     : 40rem;
    left    : 630rem;
}

.callTablesTable {
    height: 350rem;
}

.header{
    background-color:transparent;
}

#container{
    background-image: url(../../shared/media/images/faded-container.png), url(../../shared/media/images/mural-background.png);
    background-repeat: no-repeat;
    // background-position-x: 56px, -20px;
    // background-position-y: 81px, -205px;
    // background-size:912.5px 500px, 212% auto;
    background-position-x: 10px, -20px;
    background-position-y: -3px, -205px;
    background-size: 1003.5px auto, 212% auto;
}

.mainContent {

    padding: 8% 4.6%;
    @include font-itc-avant-gard-pro-demi();

    .inner-container  {
        // border-top-left-radius: 30px;
        // border-bottom-right-radius: 30px;
        // background-color: #fff;
        height: 481.5px;
        padding: 2.5% 4% 0 4%;
        margin: 0 auto;
        
        h1 {
            color: $pumpkin;
            margin-bottom: 24px;
            font-size: 25rem;
        }
    } // inner container
} // container

#dosingSchedule {
    // display: none;

    .dosingSchedule-content {
        
        h1 {
            margin-bottom: 10px;
        }
        ul {
            // list-style-type: none;

            li {
                // @include font-myriad-pro-regular();
                // font-size: 14rem;
                color: $greyish-brown;
                width: 90%;
                margin-left: 8px;
                margin-bottom: 8px;
                
                sup {
                    font-size: 60%;
                }

                &::before {
                    content: "\2022";
                    color: $golden-rod;
                    display: inline-block;
                    width: .6em;
                    margin-left: -8px;
                }
            }
        }
        
        .dosingSchedule-graphic {
            width: 104%;
            // margin-left: -12px;
            margin-left: -20px;
            transform: scale(0.955);
        }
        .dosingSchedule-cta {
            position: relative;
            width: 100%;
            height: 100%;
            background: no-repeat url("../media/images/cta-bg-png.png");
            text-align: center;
            color: $metallic-blue;
            font-size: 14rem;
            margin: 4px auto 14px auto;
            padding-top: 18px;
            padding-bottom: 9px;
            z-index: 100;

            // h4 {
                
            // }
        } // dosingSchedule-cta
        .dosingSchedule-subContent {
            color: $greyish-brown;

            h3 {
                width: 90%;
                font-size: 14rem;
                margin-bottom: 6px;
            }
            p {
                @include font-myriad-pro-regular();
                font-size: 8rem;
                margin-bottom: 2px;
                // margin-left: 8px;
                
                span {
                    display: inline-block;
                    width: .6em;
                    margin-left: -6px;
                }
            }
        }
    }
}
#getCabenuva {
    // display: none;
    position: relative;
    height: 375px;
            border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        //background-color: #fff;

    .getCabenuva-content {
        width:100%;

        h1{
            margin-bottom:0px;
        }

        h2{
            color:$metallic-blue;
        }


        .implementation-items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width:100%;
            margin:auto;

            .implementation-item{
                flex : 1;
                &:last-child{
                    border-right:0px;

                    .implementation-item--content{
                        border-right:0px;
                    }
                }
            }

            .implementation-item--icon{
                display:flex;
                justify-content: center;
                align-items: center;
                width:100%;
                height:70px;

                img{
                    width:52px;
                    height:auto;
                    margin:auto;
                }
            }

            .implementation-item--content{
                height: 244px;
                position: relative;
                width: 100%;
                padding-left: 5%;
                padding-right: 2%;
                // margin:auto;
                // border-right: 1px solid $golden-rod;
                color:$greyish-brown;
                font-size:14px;
                display: grid;
                grid-template-rows: 38px auto auto;;
            
                h3{
                    @include font-itc-avant-gard-pro-demi();
                    font-size:16px;
                    color:$metallic-blue;
                    text-align: center;
					line-height: 18px;
                }

                >p{
                    @include font-myriad-pro-bold();
                    text-align: center;
                    line-height: 1.15;

                    &.adjust-practice-preparation {
                        margin-top: -20px;
                    }
                    &.adjust-product-acquisition {
                        margin-top: -10px;
                    }
                }

                li>p{
                    @include font-myriad-pro-regular();
                    line-height:15px;
                }
               ul.content-list-v2{
                   position: absolute;
                   top: 45%;

                    >li{
                        margin-left:8px;
                    }
        
                    >li::before {
                        content: "\2022";
                        color: $golden-rod;
                        font-weight: bold;
                        position: absolute;
                        margin-left: -7px;
                    }
        
                    li>ul>li{
                        margin-left:10px;
                    }
        
                    li>ul>li::before{
                        content: '\2013';
                        color: $golden-rod;
                        position: absolute;
                        margin-left: -10px;
                    }
                }

                ul.content-list{
                   position: absolute;
                   top: 33%;

                    >li{
                        margin-left:8px;
                    }
        
                    >li::before {
                        content: "\2022";
                        color: $golden-rod;
                        font-weight: bold;
                        position: absolute;
                        margin-left: -7px;
                    }
        
                    li>ul>li{
                        margin-left:10px;
                    }
        
                    li>ul>li::before{
                        content: '\2013';
                        color: $golden-rod;
                        position: absolute;
                        margin-left: -10px;
                    }
                }

                .implementation-item-footer {
                    @include font-myriad-pro-regular();
                    margin-top: 22px;
                }
            }
        } // implementation-items
    } // getCabenuva-content

    .footnotes{
        position: relative;
        overflow:visible;
        left: 100px;
        top: 40px;
        

       p{
            @include font-myriad-pro-regular();
           
            //font-size: 8px;
            line-height: 9px;
            padding-left: 10px;
            font-size: 10px;
            color: #555;
           
            .hang-indent {
                display: inline-block;
                margin-left: -10em;
            }
        }
    }

   
} // getCabenuva
#dosingCalendar {
    // display: none;
    // display: flex;

    .scrollableInner {
        transform: unset;
        display: inline-flex;
    }
    .dialog {
        @include font-myriad-pro-regular();
        position: absolute;
        border: 1px solid $golden;
        background: #ffffff;
        color: $greyish-brown;
    }

    .info {
        width: 367px;
        display: inline-block;

        header {
            margin-bottom: 27px;

            p {
                font-size: 25rem;
                color: $injection-calendar-day;
            }
        }

        .subheader {
            margin-bottom: 27px;

            p {
                font-size: 16rem;
                color    : $lead-in-calendar-day;
            }
        }

        .selection-toggle {
            margin-bottom  : 27px;
            display        : flex;
            justify-content: space-between;
            border-radius  : 5px 5px 0 0;
            border         : solid 1px #464646;

            &.deselected {
                background-color: #a1a1a1;

                .leadin {
                    background-color: #e6e6e6;
                }
            }

            button {
                border-radius  : 5px 5px 0 0;
                width          : 50%;
                height         : 29.5px;
                display        : flex;
                align-items    : center;
                justify-content: center;
                text-transform: uppercase;
                font-size: 14rem;
                color: $invalid-calendar-day;
                background: rgba($calendar-day, .1);

                &.active {
                    color: white;
                }

                &.injection {
                    &.active {
                        background-color: $injection-calendar-day;
                    }
                }

                &.leadin {
                    &.active {
                        background-color: $lead-in-calendar-day;
                    }
                }

            }
        } // selection-toggle 

        .legend {
            .key {
                display    : flex;
                align-items: center;
                font-size: 14rem;
                line-height: 1.5;

                .color {
                    width       : 15.5px;
                    height      : 15.5px;
                    margin-right: 9px;
                    margin-top: -6px;
                }

                &.lead-in {
                    .color {
                        background-color: $lead-in-calendar-day;
                    }
                } // lead-in

                &.last-day {
                    .color {
                        background:linear-gradient(to bottom right,$lead-in-calendar-day 50%,$injection-calendar-day 50%);
                    }
                    //last day;
                }
                &.injection {
                    .color {
                        background-color: $injection-calendar-day;
                    }
                } // injection

                &.buffer {
                    .color {
                        background-color: $buffer-calendar-day;
                        // opacity: 0.25;
                    }
                    .buffer-popup {

                    } // buffer-popup
                } // buffer

                &.invalid {
                    .color {
                        background-color: $invalid-calendar-day;
                    }
                } // invalid
                button {
                    align-items: unset;
                    padding: 1rem;
                    color: #fff;
                    border: none;
                    border-radius: 2.5rem;
                    background: #acacac;
                    width: 12.5rem;
                    height: 12.5rem;
                    margin-top: -4px;
                    margin-left: 9px;
                    text-align: center;
                    font-size: 10px;
                    line-height: 1.5;
                }
                #buffer-popup, #invalidLeadin-popup, #invalidInjection-popup {
                    width: 149rem;
                    font-size: 8rem;
                    padding: 6rem;
                    line-height: 1.3;
                    margin-top: -39rem;
                    margin-left: 70rem;
                }
                #invalidLeadin-popup, #invalidInjection-popup {
                    margin-left: 230rem;
                }
            } // key
        } // legend
        .reset {
            background: linear-gradient($golden, $pumpkin);
            padding: 8rem;
            color: #fff;
            border-radius: 5rem;
            margin-top: 10rem;
            margin-left: 20rem;
        } // reset
    } // info

    .calendar {
        @include font-itc-avant-gard-pro-demi();
        p {
            margin: 0;
        }

        width          : 475px;
        height         : 399px;
        margin-left: 28px;
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-around;

        /* dialog specifics */
        .invalidInjection-popup, .invalidLeadin-popup  {
            width: 240rem;
            font-size: 12rem;
            color: #000000;
            background: $golden;
            border: 1px solid $pumpkin;
            padding: 6rem;
            line-height: 1.3;
            margin-top: -20rem;
            margin-left: 70rem;
            z-index: 10;
        }

        .month {
            width: 202.1px;

            .name {
                font-size    : 9rem;
                text-align   : left;
                border-bottom: solid 1px $calendar-divider;
                color: $metallic-blue;
                
                &::before {
                    position: relative;
                    width: 4.9px;
                    height: 3.3px;
                    content: url("../media/images/month_icon.png");
                    top: 0;
                    left: 0;
                    padding-right: 3px;
                }
            }

            .key {
                display        : flex;
                justify-content: space-around;
                align-items    : center;
                font-size      : 6rem;
                height         : 17.6px;
            }

            .days {
                display           : flex;
                flex-wrap         : wrap;
                // justify-content: space-between;

                .day {
                    background-color   : rgba($calendar-day, .1);
                    font-size          : 8rem;
                    display            : flex;
                    justify-content    : center;
                    align-items        : center;
                    width              : 26.8px;
                    height             : 24.1px;
                    margin             : 0 2.3px 4.7px 0;
                    border-radius      : 2px 0 2px 0;
                    transition-duration: .2s;
                    

                    &.rotate-in{
                        animation: rotate-out .25s reverse;
                    }

                    &.rotate-out{
                        animation: rotate-out .25s;
                    }

                    &.invalid {
                        background-color: $invalid-calendar-day;
                    }

                    &.injection {
                        background-color: $injection-calendar-day;
                        color: #fff;

                        &.first {
                            background-image: linear-gradient(to bottom right, $lead-in-calendar-day 0%, $lead-in-calendar-day 50%, $injection-calendar-day 50%, $injection-calendar-day 100%);
                        }
                    }

                    &.buffer {
                        background-color: $buffer-calendar-day;
                    }

                    &.lead-in {
                        background-color: $lead-in-calendar-day;
                        color: #fff;
                    }

                    &:nth-child(7n) {
                        margin-right: 0;
                    }

                }
            }
        }
    } // calendar
} // dosingCalendar

#pkProfile {
    // display: none;
    h1 {
        width: 80%;;
        color: $pumpkin;
        font-size: 25rem;
        line-height: 1.08;
        margin: 0 199px 21px 0;
    }
    .pkProfile-table {

        transform  : scale(.90) translateX(-57%);
        position   : relative;
        left       : 50%;
        /* height  : 245px; */
        margin-left: -25px;
    }
    ul {
        width: 84%;
        // padding-left: 27px;
        margin-top: -2px;
        margin-bottom: 10px;
        margin-left: -8px;

        li {
            // @include font-myriad-pro-regular();
            // font-size: 14rem;
            // color: $greyish-brown;
            // margin-left: 14px;
            
            &::before {
                content: "\2022";
                color: $golden-rod;
                display: inline-block;
                width: .6em;
                margin-left: -8px;
            }
        }
    }

    h3 {
       
        padding-bottom  : 10px;
        @include font-itc-avant-gard-pro-demi();
        font-size:14px;
        // border-bottom:2px solid $golden;
        margin-bottom   : 2px;
        color: #597086;
        text-transform:uppercase;
    }

    hr {
        display   : block;
        height    : 8px;
        border    : 0;
        border-top: 3px solid $golden;
        margin-top: -11px;
        padding   : 0;
        width: 92%;
    }

    span {
        color: #555555;
        @include font-myriad-pro-regular();
            font-size: 8px;
    }
} // pkProfile
.bg {
    display: none;
}

@keyframes rotate-out {
    to {
        transform: rotate3d(1,0,0,90deg);
    }
}

.view{
    display: none;
    &.active {
        display: block;
    }
    &.calActive {
        display: flex;
    }
}



.inActive {
    display: none;
}
