/* Local CSS */
@import '../../shared/css/imports';

/* Overwhite KM 008 styles by Erickm*/

#container{
    background-image:  url(../../shared/media/images/faded-wings-full.png), url(../../shared/media/images/faded-container.png), url(../../shared/media/images/mural-background.png);
    background-repeat: no-repeat;
    background-position-x: 36.5px, 10px, -20px;
    background-position-y: 311.5px,  -3px, -205px;
    background-size:950px auto, 1003.5px auto, 212% auto;

}
.header{
  background:none;
}
.mainContent{
  width: 100%;
  max-width:912.5px;
  height: 481.5px;
  margin-top:75px;
  margin-left: 5.5%;
  margin-right: 5.4%;
  padding: 30px 35px 35px 35px;
  @include font-itc-avant-gard-pro-demi();
  box-sizing: border-box; 
  
  .orange-title{
    @include font-itc-avant-gard-pro-demi();
    height: 25px;
    font-size: 25px;
    letter-spacing: normal;
    color: $pumpkin;
  }   
}
 /* end .mainContent */
 
.top-content-008{
  @include font-myriad-pro-regular();
  font-size: 14px;
  line-height: 20px;
  color:$greyish-brown;
  margin:21px 0px 0px 0px;
  letter-spacing: -0.1px;
  
  // .sub-title-golden-line {
  //   @include font-itc-avant-gard-pro-demi();
  //   font-size    : 14px;
  //   line-height  : 14px;
  //   color        : $metallic-blue;
  //   font-weight  : 400;
  //   padding      : 22px 0px 2px 0px;
  //   border-bottom: 3px solid $golden;
  //   margin       : 0px 0px 5px 0px;
  // }
  header {
    h3 {
      @include font-itc-avant-gard-pro-demi();
      font-size    : 13px;
      line-height: 1.2;
      color        : $metallic-blue;
      border-bottom: 3px solid $golden;
      margin-bottom: 5px;
      margin-top: 22px;
    }
  }

  
  .sub-content-height{
    line-height: 17px;
  }
  
  span{
    color:$golden;
  }
  sup{
    font-size:8px;
  }  
 
}/* end top-content-008 */

.composite-question-title{
  @include font-itc-avant-gard-pro-demi();
  width:610px;
  height: 25px;
  background-color:$metallic-blue;
  color:$white;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 4px;
  border-radius: 10px 0px 0px 0px;
}

.composite-question-content{
  @include font-itc-avant-gard-pro-demi();
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  width:610px;
  height: 88px;
  box-sizing: border-box;
  color:$metallic-blue;
  background-color:$very-light-pink;
  margin: 0 auto;
  border-radius: 10px 0px 10px 0px;
  padding: 10px 0px 0px 0px;
}

.bottom-content-black{
  @include font-myriad-pro-regular();


  font-size  : 14px;
  color      : #555;
  text-align : center;
  line-height: 1.15;
  font-weight: 600;

  display: block;
  width: 394px;
  margin: 25px auto;
  padding: 0;
  letter-spacing: -1px;
}

.bottom-content-smaller{
  @include font-myriad-pro-regular();
  font-size: 8px;
  color:$brownish-grey;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}