/* Local CSS */
@import '../../shared/css/imports';



.header{
    background-color:transparent;
    overflow:hidden;
}
.graph-header {
    h3 {

        @include font-itc-avant-gard-pro-demi();
        font-size: 13px;
        line-height: 1.2;
        color: $metallic-blue;
        border-bottom: solid 2px #FFCB05;
        // height: 16px;
        margin-bottom: 14px;
        // letter-spacing: -.4px;
        margin-top: 8px;
    }

}

#container{
    background-image: url(../../shared/media/images/faded-container.png), url(../../shared/media/images/mural-background.png);
    background-repeat: no-repeat;
    // background-position-x: 56px, -20px;
    // background-position-y: 81px, -205px;
    // background-size:912.5px 500px, 212% auto;

    background-position-x: 10px, -20px;
    background-position-y: -3px, -205px;
    background-size: 1003.5px auto, 212% auto;
}

.mainContent{
    @include font-itc-avant-gard-pro-demi();

    h1{
        font-size:25px;
        color:$orange;
        margin-bottom:5px;
        padding-left: 18px;
    }

    sup.superscript{
        font-size:.55em;
        position:static;
        vertical-align:super;
    }
	sup.sup-margin-top{
        font-size: .5em;
        vertical-align: super;
        top: .4em;
	}

    .hanging-indent{
        float:left;
        margin-left:-4px;
    }

    // .circle-shadow{
    //     box-shadow: -14px 0px 20px 40px rgba(0,0,0,0.45);
    // }

    .show{
        opacity: 1;
    }

    .hide{
        opacity: 0;
    }

    .blue-text{
        color:$metallic-blue;
    }

    .gray-text{
        color:$greyish-brown;
    }

    .gray-text-2{
        color:#b1b1;
    }

    .avant-bold{
        @include font-itc-avant-gard-pro-bold();
    }

    .avant-demi{
        @include font-itc-avant-gard-pro-demi();
    }

    .myriad-regular{
        @include font-myriad-pro-regular();
    }

    .myriad-bold{
        @include font-myriad-pro-bold();
    }

    .fnt-12{
        font-size:12px;
    }

    .fnt-14{
        font-size:14px;
    }

    .fnt-15{
        font-size:15px;
    }

    .fnt-24{
        font-size:24px;
        line-height: 26px;
    }

    .fnt-30-26{
        font-size:30px;
        line-height: 36px;
    }

    .fnt-30-31{
        font-size:30px;
        line-height: 31px;
    }

    .fnt-71{
        font-size:71px;
    }

    .fnt-85{
        font-size:85px;
    }

    .fnt-17{
        font-size:17px;
    }


    ul.content-list{
        padding-left: 8px;
        li>p{
            @include font-myriad-pro-regular();
            color:$greyish-brown;
            font-size:14px;
            width: 101%;
        }

        >li{
           margin-left:0px;
        }

        >li::before {
            content: "\2022";
            color: $golden-rod;
            margin-left: -8px;
            float: left;
        }
    }
}


#dynamic-content{
    .reveal-state{
        display:none;
    }

    width:825px;
    margin: 0 auto;

    .bullet{
        @include font-myriad-pro-regular();
        font-size:16px;
        color:$greyish-brown;
        height:60px;
        //border-bottom:1.5px solid $golden-rod;

        h2, h3{
            color:$metallic-blue;
            @include font-itc-avant-gard-pro-demi();
        }
        h3{
            margin-top:5px;
        }
    }

    .central-display-container{
        width:100%;
        height:222px;
        display:flex;
        
        //border-bottom:1px solid red;

        &.show-border{
           /* border-top:2px solid $golden-rod; */
        }

        .left-display-text{
            //flex:1;
            //width:254px;
            width:272px;
            color:#404040;

            .interaction-state{
                //width:209px;
                // margin-top:30px;
                position: relative;
                transform: translateY(35%);
                display: block;
            }

            .reveal-state{
                width:300px;
                margin-top:5px;


                .chart-label-text{
                    position: relative;
                    width:327px;
                    padding-top:10px;
                    padding-bottom:10px;
                    padding-left:10px;
                    //border-bottom:1px solid red;
                    background-repeat: no-repeat;
                    background-position:left bottom;
                    background-size:95%;
                    @include font-myriad-pro-semibold-semi-ext();
                    // text-transform: uppercase;


                    p.chart-val{
                        top:19px;
                    }

                    

                    p:first-child{
                        display:inline-block;
                        width:223px;
                        font-size:16px;

                        .bold-fnt{
                            @include font-myriad-pro-bold-semi-ext();
                        }
                    }

                    .chart-val{
                        display:inline-block;
                        position: absolute;
                        font-size:37px;
                        @include font-itc-avant-gard-pro-demi();

                        .pct{
                            
                            font-size:27px;
                        }
                    }


                    &:nth-child(1){
                        color:#b1b1b1;
                        background-image:url('../media/images/grey_line.png');

                        p{
                            line-height: 14px;
                        }
                       
                        .chart-val{
                            right:-14px;
                        }
                    }

                    &:nth-child(2){
                        color:#67879d;
                        background-image:url('../media/images/blue_line.png');

                        p{
                            line-height: 14px;
                        }

                        .chart-val{
                            right:20px;
                        }
                    }

                    &:nth-child(3){
                        color:$pumpkin;
                        background-image:url('../media/images/orange_line.png');

                        p{
                            line-height: 16px;
                        }

                    }
                }

                .blue-text{
                    // margin: 35% 0px
                    position: relative;
                    transform: translateY(44%);
                    display: block;
                }
            }
        }

        .central-display{
            position: relative;
            //flex:1;
            text-align: center;
            //overflow: hidden;
            width: 220px;
            height: 220px;
            //top: 65px;
            top: 0px;
            //left: 17px;
            left:35px;


            #background-glow{
                position: absolute;
                // width:400px;
                // height:400px;
                // left:-50px;
                width: 300px;
                height: 300px;
                left: -30px;
                top: -26px;
                
                
                &.interaction-state{
                    background-image:url('../media/images/circle.png');
                    background-repeat: no-repeat;
                    background-size: 108%;
                    background-position-x: -24px;
                    background-position-y: -18px;
                }

               

            }
           

            #central-circle-slider{
                position: absolute;
                margin-left:6px;
                margin-top:6px;
                left:0%;
                // width:280px;
                // height:280px;
                width:220px;
                height:220px;
          

                &.final-state{
                    background-image:url('../media/images/final-circle-state.png');
                    background-repeat: no-repeat;
                    background-size: 496%;
                    background-position-x: -440px;
                    background-position-y: -247px;
                }

                svg{
                    transform: rotate(-90deg) translate(2px, 0px);
                    //border:1px solid purple;
                }


                #d-chart{
                    //stroke: blue;//$pumpkin;
                    stroke-dasharray: 559.2;//754;//440;
                    stroke-dashoffset: 559.2;//754;//220;
                    opacity:.85;
                    
                }
            }

            #central-circle-foreground{
                position: absolute;
                margin-left:6px;
                margin-top:6px;
                width:240px;
                height:240px;
                padding-top:20%;
                // margin:0 auto;
                //border-radius:50%;
                font-size: 100px;
                @include font-itc-avant-gard-pro-demi();
                color:rgba(230, 115, 0, 0.7);
                background-color:transparent;


                .enlarged-font{
                    padding-top: 20%;
                    font-size: 138px;
                    margin-left:-9px;
                    
                }

                p{
                    font-size:52px;
                    margin-top: 42px;
                    margin-left: -20px;
                    
                    .precent-font{
                        font-size:37px;
                    }
                }
            }

            #central-circle-border{
                position: absolute;
                margin-left:1px;
                margin-top:1px;
                width:250px;
                height:250px;
                background-color: transparent;
                border-radius:50%;
                //border: 1px solid $golden;
            }
        }

        .right-display-text{
            flex:1;

            .reveal-state{
                width:221px;
                margin:109px auto;

                p:first-child{
                    margin-bottom:15px;
                    @include font-myriad-pro-bold-semi-ext();
                    font-size:14px;
                }
            }

            .interaction-state{
                width:150px;
                margin:90px auto;
                color:$pumpkin;
                text-align: center;

                img{
                    width:100px;
                }
            }
        }
    }


    .slider-container--outer{
        //width:130%;
        width:1001px;
        margin-top:25px;
        margin-left:40px;

        .slider-container--inner{
            display:inline-block;
        }

        #slider{
                width:730px;
                height:15px;
                border-radius: 8px;
                border:3px solid $orange;

                &.ui-state-disabled{
                    opacity: 1;
                }

            #custom-handle{
                width:14.5px;
                height:14.5px;
                border:0px;
                border-radius: 50%;
                background-color:#e67400;
                outline:0px;
                top:-.2em;
                // margin-left:-.3em;

                #value-display{
                    position: relative;
                    left:-64%;
                    margin-top:-50px;
                    padding-top:60%;
                    width:34px;
                    height:65px;
                    //background-color:$orange;
                    color:#fff;
                    font-size:13.5px;
                    @include font-myriad-pro-bold();
                    text-align:center;
                    // border-radius: 50% 50% 50% 0%;
                    // transform:rotate(-45deg);
                    opacity: 0;
                    background-image:url('../media/images/slider-handle-background.png');
                    background-size: contain;
                    background-repeat: no-repeat;

                    .precent-font{
                        font-size:10.4px;
                    }
                }
            }

            .ui-ticks{
                position: absolute;
                z-index:2;
                height:100%;
                width:2px;
                background-color:$orange;
                display: none;

                p{
                    position: relative;
                    margin-top:20px;
                    margin-left:-10px;
                    color:$greyish-brown;
                    @include font-itc-avant-gard-pro-demi();
                    font-size:11px;
                }
            }

            .ui-tick-0{
                left:0%;

                p{
                    left:5px;
                }
            }

            .ui-tick-25{
                left:25%;
            }

            .ui-tick-50{
                left:50%;
            }

            .ui-tick-75{
                left:75%;
            }

            .ui-tick-100{
                left:100%;

                p{
                    left:-15px;
                }
            }

            .ui-slider-range{
                background-image: linear-gradient(to right, $pumpkin 1%, #d98242 51%, $golden 98%);
            }
        }

        #toggle-btn{
            display:inline-block;
            width:54px;
            height:25px;
            //padding:20px;
            vertical-align: top;
            margin-left:18px;
            border-radius: 5px;
            color:#fff;
            font-size:10px;
            text-align: center;
            text-transform: uppercase;
            box-shadow: inset 0px -0.5px 5px 0 rgba(0, 0, 0, 0.2);
            background-image: linear-gradient(to top, $pumpkin, $golden);
        }
    }


    .footnotes{
        @include font-myriad-pro-regular();
        width:747px;
        color:$greyish-brown;
        margin-top:20px;
        overflow: visible;
        ul{
            margin-left:-8px;
        }

        p{
            font-size:8px;
            margin-bottom:0px;
            margin-left:3px;
        }
		
        ul.content-list li > p{
            @include font-myriad-pro-regular();
            font-size: 14px;
        }
		
		.footnotes-lm{
			padding-left: 0px;
		}
    }
}
