/* Local CSS */
@import '../../shared/css/imports';

/* Override CSS */

#container {
    background-repeat: no-repeat;
    background-image: url(../media/images/background_white_container.png),
    url(../media/images/mural-background.png);
    background-repeat: no-repeat;
    background-position-x: 12px, 0px;
    background-position-y: 0px, 0px;
    background-size: 994.5px auto,
    contain;
}

.header{
  background: none;
}

.mainContent{
  position: relative;
  width: 100%;
  max-width:912.5px;
  height: 481.5px;
  margin: 79.5px 5.4% 0 5.5%;
  padding: 30px 0px 35px 0px;

  .sub-title {
    margin-top: 13.5px;
    @include font-myriad-pro-regular();
    width: 690px;
    height: 30.5px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.35px;
    text-align: left;
    color: $greyish-brown;
	
	.top-sup-margin{
	   top:0px;
	   font-size: 14px;
	}
  }

  .help-text {
    margin-top: 13px;
    @include font-myriad-pro-regular();
    width: 690px;
    height: 8.5px;
    font-size: 8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $greyish-brown;
  }

  .people {

    position: absolute;
    top: 81px;
    left: 42px;
    right: 9px;
    height: 347px;
    overflow: hidden;

    img {

      vertical-align: top;

      &.man_1 {
        margin-top: 9px;
        margin-right: 11px;
      }

      &.woman_1 {
        margin-top: 20px;
        margin-right: 30px;
      }

      &.man_2 {
        margin-right: 30px;
      }

      &.man_3 {
        margin-left: -10px;
        margin-right: -40px;
      }

    }

  }

  .corners {

    position: absolute;
    bottom: -35px;
    left: -30px;
    right: -30px;
    height: 265px;
    pointer-events: none;

    .corners_left {
      position: relative;
      float: left;
      z-index: 10;
    }

    .corners_right {
      position: relative;
      float: right;
      z-index: 10;
    }

    .disclaimer {
      position: relative;
      margin: 185px auto -212px auto;
      width: 250px;
      height: 27px;
      @include font-myriad-pro-regular();
      font-size: 8px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $greyish-brown;
      z-index: 5;
    }

  }

  .panels{

    .panel {

      .panel-container {

      

        .panel_media {

        }

        .panel_logo {
          padding-top: 42px;
          flex-shrink: 1;
        }

        .panel_content {

          .panel_text {

            height: 227.5px;
            padding-top: 40px;
            @include font-itc-avant-gard-pro-demi();
            font-size: 16.8px;
            color: $metallic-blue;
			
			.name {
			  font-size: 13px;
			  padding-top: 15px;
			}

            .quotes-orange {

              color: $pumpkin;

              &:first-child {
                margin-left: -8px;
              }

            }

            sup {
              font-size: 10px;
              letter-spacing: 1px;
            }

          }

          .panel_more {

            @include font-itc-avant-gard-pro-demi();
            font-size: 13.5px;
            color: $metallic-blue;

            hr {
              width: 226.5px;
              border-color: $golden;
              border-top: none;
              border-bottom-width: 3.5px;
            }

          

          }

        }

      }

      &.home {

        position: relative;
        z-index: 6;
        background: none;

        .panel-container {
          flex-direction: column;
        }
      }

      // &.man_1 {
      //   .panel_media {
      //       // padding-top: 30px;
      //   }
      // }
      // &.woman_1 {
      //   .panel_media {
      //       padding-top: 40px;
      //       padding-right: 10px;
      //   }
      // }
      // &.man_2 {
      //   .panel_media {
      //       padding-top: 26px;
      //   }
      // }
      // &.man_3 {
      //   .panel_media {
      //       padding-top: 12px;
      //       img {
      //         margin-right: -65px;
      //       }
      //   }
      // }

    }

  }

}

.orange-title {
  @include font-itc-avant-gard-pro-demi();
  width: 593px;
  height: 24px;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: left;
  color: $pumpkin;
}

.ui-dialog {
  border: 3px solid #4f6c86 !important;
  box-shadow: 0 -40px 1px -30px $golden inset;
}

#panel-dialog {

  @include font-myriad-pro-regular();

  .panel-dialog-container {

    padding: 70px 70px;

    ol {

      list-style: decimal;
      padding-left: 15px;
      font-weight: bold;

      li {

        span {
              font-size: 15.1px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: $greyish-brown;
        }

      }

    }

  }

}

//Updated Design Nov 14

.mainContent{
  border-top-left-radius: 34px;
  border-bottom-right-radius: 34px;
  margin: 79.5px 5.4% 0 5.35%;
  overflow: hidden;
  padding:0px;
  
}

.panels{
  height: 100%;
  width:100%;
}

.panel{

  height: 100%;
  width:100%;
  clip: rect(auto, 901px, auto, auto);
  position: absolute;

  .panel-title {
    padding-top:20px;

    h1{
      font-size:25px;
      color:$orange;
      @include font-itc-avant-gard-pro-demi();
      margin-left:55px;
    }
  }
  .panel_media{
    position: absolute;
    top:0px;
    left:10px;
    overflow:hidden;
  }
}

.panel.home{
    
    .image-container{
  
      transform: scale(0.2996) translateX(-126.5%) translateY(-111%);

    }

  .panel-home-title{
    width:100%;
    padding-top:10px;
    text-align:center;
    @include font-itc-avant-gard-pro-demi();

    h1{
      width:600px;
      margin:auto;
      padding-top:15px;
      padding-bottom:5px;
      font-size:25px;
      color:$orange;
      border-bottom:3px solid $golden;

    }

    h2{
      padding-top:10px;
      font-size:17.5px;
      color:$metallic-blue;
    }

  }

}

.quote-box{
  @include font-acumin-pro-extra-cond();
  position: relative;
  letter-spacing:-.5rem;
  line-height: 1;
  

  p{
    color:#fff;
    font-size:25px;
    position: relative;

    .start-quote{
      position:absolute;
      font-size:40px;
      color:#DE8C3C;
      left:-14px;
      top:-10px;
      font-style: italic;
    }
    .end-quote{
      position: absolute;
      font-size:30px;
      color:#DE8C3C;
      font-style: italic;
      margin-left: -3px;
    }
    i {
      margin-right: 5px;

      // tighten any punctuation after the italic
      &.post-spacing {
        margin-right: 2px;
      }
    }
  }

  .last-line {
    display: inline-block;
    position: relative;
    transform: translateY(-22%);
    &.mark {
      transform: translateY(-15%);
    }
    &.orlando {
      transform: translateY(4%);
    }

    &.jayson {
      transform: translateY(-13%);
    }
  }



  p.quote-name{
    color:$golden;
    text-align: right;
    font-size:25px;
    color:#FFD563;
    margin-top:10px;

    span:first-child {
      float: left;
    }

    span:nth-child(2) {
      font-size: 18px;
      width: 414px;
      display: block;
      margin-top: 4px;
      margin-left: -184px;      
      float: left;
    }

    &.orlando {
      margin-top: 3px;
      transform: translateX(-2%);
      span:first-child {
        width: 20%;
      }
      span:nth-child(2) {
        margin-left: -185px;
      }
    }

    &.mark {
      span:nth-child(2) {
        margin-left: -186px;
      }
    }

  }
}

.panel.man_1{
  .panel-container .panel_media img{
    margin-left: -59px;
    margin-top: -80px;
  }

  .panel_more_icons>.icon_images>.panel_more_icon>img[data-panel='man_1']{
      opacity: 1;
  }
}

.panel.man_2{
  .panel-container .panel_media img{
    margin-left: -52px;
    margin-top: -55px;
  }

  .panel-container .quote-box{
    width:385px;
    height:180px;
    top: 108px;
    left: 371px;
  }
  .orlando-pb{
  	padding-bottom: 12px;
  }
  .panel_more_icons>.icon_images>.panel_more_icon>img[data-panel='man_2']{
    opacity: 1;
  }
}

.panel.man_3{
  .panel-container .panel_media img{
    margin-left: -59px;
    margin-top: -81px;
  }

  .panel-container .quote-box{
    width: 417px;
    height: 180px;
    top: 88px;
    left: 356px;
  }

  .panel_more_icons>.icon_images>.panel_more_icon>img[data-panel='man_3']{
    opacity: 1;
  }
}

.panel.man_4{
  .panel-container .panel_media img{
    margin-left: -69px;
    margin-top: -98px;
  }

  .panel-container .quote-box{
    width: 387px;
    height: 180px;
    top: 102px;
    left: 363px;
  }

  .panel_more_icons>.icon_images>.panel_more_icon>img[data-panel='man_4']{
    opacity: 1;
  }
}



.panel {
  background-image:url('../media/images/paint-backdrop.png');
  background-repeat: no-repeat;
  background-position-y: 60px;
  background-position-x: 120px;
  background-size: 85%;

  .panel-container .panel_media img{
    height: auto;
    width: 938px;
    }

    .panel_content{
      position: absolute;
      display: flex;
      width:500px;
      bottom:0px;
      right:0px;
      margin-left: 30px;
    }


    .notes{
      width:230px;
      padding-top:35px;
      font-size:8.5px;
	    line-height: 10.5px;
      color:#4d4d4f;
      margin-right:20px;
      margin-left:0px;
      @include font-myriad-pro-regular();
    }


    .panel_more{
      width:317px;
      display:flex;
      
      @include font-itc-avant-gard-pro-demi();

      img{
        opacity: .6;
      }

      .menu-text{
        display:flex;
        justify-content: center;
        align-items: center;
        color:#404040;
        padding-top:28px;
        padding-right:10px;
        @include font-itc-avant-gard-pro-bold();
      }
      
      .panel_more_icons{
       
        .icons_header{
          font-size:15.5px;
        }

        .icon_images{
          border-top:4px solid $golden;
          display:flex;
          
          .panel_more_icon{
            
            margin: 5px 8px;
          }

        }

       
      }
    }
}




