/* Local CSS */
@import '../../shared/css/imports';

.header {
    background-color: transparent;
}

#container {
    background-image        : url(../../shared/media/images/faded-container.png), url(../../shared/media/images/mural-background.png);
    background-repeat       : no-repeat;
    background-position-x   : 10px, -20px;
    background-position-y   : -3px, -205px;
    background-size         : 1003.5px auto, 212% auto;
}

.mainContent {
    @include font-itc-avant-gard-pro-demi();
}

sup.superscript {
    font-size     : .55em;
    position      : static;
    vertical-align: super;
}

span.sup-center {
    font-size: .5em;
    vertical-align: text-bottom;
}

.myriad-bold {
    @include font-myriad-pro-bold();
}
.myriad-pro-reg-v2{
	@include font-myriad-pro-regular();
}
.myriad-pro-reg-v1{
	font-family: 'MyriadPro-Regular' !important;
	font-weight: normal !important;
	letter-spacing: 0px !important;
}
.border-radius-left{
	border-bottom-left-radius: 5px;
}
.simply-bottom-padding{
	margin-bottom:5px !important;
}
.remove-letter-spacing{
	letter-spacing: -1px;
}
.itc-avant-demi{
	font-family: 'ITC-ITCAvantGardePro-Demi' !important;
	font-weight: normal !important;
}

.inner-content {
    width : 912.5px;
    height: 481.5px;
}


.tabs {
    width       : 776px;
    height      : 461px;
    margin-left : 18px;
    padding-left: 35px;
    padding-top : 28px;


    .side-menu {
        width: 160px;
        left : 80px;
        top  : 90px;

        .side-menu__item {
            padding-right : 1vw;
            padding-top   : 8px;
            padding-bottom: 8px;
            min-height    : 50px;
            text-transform: none;
            font-size     : 11px;
        }

        .side-menu__item:first-of-type {
            border-top: solid $metallic-blue;
        }

        .side-menu__item:last-of-type {
            border-bottom : solid $metallic-blue;
            padding-top   : 15px;
            padding-bottom: 10px;
        }

        .side-menu__item.active::after {
            margin-top: -10%;
        }

        .side-menu__item.active:first-of-type::after {
            margin-top: -10%;
        }

        .side-menu__item.active:last-of-type::after {
            margin-top: -5%;
        }
    }

    .special-adjust-tab1-footnotes {
        margin-top: 169px;
        margin-left: -60px;
        padding-left: 10px;
        width: 160px;
        @include font-myriad-pro-regular();
        color: $greyish-brown;
        font-size: 8px;
        display: none;
        &.active {
            display: block !important;
        }

        .hanging-indent {
            float      : left;
            margin-left: -3px;
        }
       
    }
	

    .tab {
        width   : 640px;
        position: absolute;
        left    : 265px;
        top     : -10000px;
        overflow: hidden;
        opacity : 0;
        display : block;


        &.active {
            opacity: 1;
            top    : 100px;
        }

        h1 {
            font-size: 25px;
            color    : $orange;
        }

        h3 {
            font-size  : 13px;
            color      : $dark-grey-blue-three;
            line-height: 1.2;
        }
		.no-padding-top-v1{
			margin-top: 5px !important;
		}
        ul.content-list {
            margin-top: 10px;
            
            li>p {
                @include font-myriad-pro-regular();
                color    : $greyish-brown;
                font-size: 14px;
            }

            >li {
                margin-left: 10px;
            }

            >li::before {
                content    : "\2022";
                color      : $golden-rod;
                font-weight: bold;
                position   : absolute;
                margin-left: -10px;
            }

            li>ul>li {
                margin-left: 10px;
            }

            li>ul>li::before {
                content    : '\2013';
                color      : $golden-rod;
                position   : absolute;
                margin-left: -10px;
            }

            // &.injection-site {
            //     margin-top: -31px;
            // }
        }

        ul:last-of-type {
            &.content-list.adjust-footnote {
                margin-top: -3px;
            }
        }
		.text-without-bullet{
			@include font-myriad-pro-regular();
            color    : $greyish-brown;
            font-size: 14px;
			padding-left: 0px;
		}
        .chart-footnote {
            color        : $greyish-brown;
            font-size    : 8px;
            margin-top   : -10px;
            margin-bottom: 5px;
            @include font-myriad-pro-regular();
        }

        //tab1 footnotes -> TODO: refactor
        .footnotes {
            //width     :356px;
            margin-top: 3px;
            padding-left: 3px;
            @include font-myriad-pro-regular();
            color    : $greyish-brown;
            font-size: 8px;
			.lp-footnote{
				padding-left: 7px;
			}
        }
    }
}

.tab-1 {

    h3 {
        width           : 472px;
        padding-bottom  : 7px;
        // border-bottom:2px solid $golden;
        margin-bottom   : 5px;
    }

    hr {
        display   : block;
        height    : 8px;
        border    : 0;
        border-top: 2px solid $golden;
        margin-top: -12px;
        margin-bottom: -1px;
        padding   : 0;
    }

    .svg-container {
        width: 472px;
    }


}
.tab-1,
.tab-2 {

    .cta {
        width            : 575.5px;
        height           : 60.5px;
        margin-top       : 10px;
        padding-top      : 27px;
        background-image : url('../media/images/cta-bg.png');
        background-size  : 100% auto;
        background-repeat: no-repeat;
        text-align       : center;
        color            : #4f6880;
        font-size        : 14px;
    }
}



.tab-3 {

    .two-column-content {
        display        : flex;
        margin-top     : 20px;
        justify-content: space-between;

        .left-content {}

        .right-content {}
    }

    .pie-chart {
        height       : 85px;
        max-width    : 205px;
        display      : flex;
        margin-bottom: 20px;
        align-items  : stretch;

        .svg-pie {
            width     : 84px;
            height    : 84px;
            flex-basis: 84px;
			margin-top: -3px;
        }

        .svg-pie-replaced {
            transform: scale(1);
            width    : 100%;
            height   : 100%;
        }

        .pie-text {
            @include font-itc-avant-gard-pro-demi();
            color             : $metallic-blue;
            font-size         : 12px;
            //background-color:yellow;
            width             : 112px;

            margin-left: 10px;

            p {
				padding-top: 11px;
                line-height: 1.10;
            }

            strong {
                word-spacing: -3px;
            }
        }
    }

    h3 {
        width: 249px;
        color: $metallic-blue;

        border-bottom: 2px solid $golden;
        margin-bottom: 5px;
    }

    .svg-table {
        width : 249px;
        //height: 378px;

    }

    ul li p {
        line-height: 18px;
    }

}

.tabs .tab-2 {

    h1 {
        line-height: 26px;
    }

    >h3 {
        margin-top   : 3px;
        border-bottom: 2px solid $golden;
        margin-bottom: 8px;
        width        : 565px;
        font-size    : 12px;
    }

    p {
        @include font-myriad-pro-regular();
        font-size: 14px;
        color    : $greyish-brown;
    }

    .svg-container {
        width: 560px;
    }

    .chart-footnote {
        position: relative;
        top     : -7px;

        p {
            font-size: 8px;
        }
    }

    .chart-bottom-text {
        margin-top: -7px;
        line-height: 1;

        p {
            @include font-myriad-pro-bold();
        }
    }

    .icon-box {
        width                : 650px;
        display              : grid;
        //grid-column-gap    : 16px;
        grid-template-columns: 68.5px 565px;
        margin-top           : 2px;

        .icon-image {
            height           : 50px;
            background-image : url('../media/images/quote-icon.png');
            background-size  : contain;
            background-repeat: no-repeat;
            margin-left      : 10px;
        }

        .icon-text-container {
            color      : $greyish-brown;
            font-size  : 13px;
            margin-left: 15px;
            margin-top : 5px;

            .golden-text {
                color: $golden;
            }

            .jayson {
                margin-top: -5px;
            }

            em {
                @include font-myriad-pro-regular();
                letter-spacing: 0.7px;
            }

            p.metallic-blue {
                margin-bottom: 5px;
                font-size    : 13px;
                color        : $metallic-blue;
                @include font-itc-avant-gard-pro-demi();
                line-height: 14px;

                span.hanging-indent {
                    margin-left: -4px;
                }
            }

            .quote-small-bold {
                font-size     : 11px;
                margin-left   : 17px;
                display       : inline-block;
                position      : relative;
                top           : -4px;
                font-weight   : 600;
                letter-spacing: 0.5px;
            }
        }
    }
}

.patient-exp {
    @include font-myriad-pro-regular();
    color        : $greyish-brown;
    font-size    : 11px;
    font-weight  : 400;
    margin-left  : 100px;
    margin-top   : -1px;
    margin-bottom: 7px;
    display      : block;
}

.tab-3 {

    h3 {
        margin-top: 10px;
    }

    .svg-container {
        margin-top: -15px;
        width     : 505px;
    }

    .popup-button-container {
        align-self: center;
        margin-top: 10px;


        .popup-button {
            position          : relative;
            // display        :flex;
            // justify-content: center;
            // align-items    : center;
            padding-top       : 5px;
            padding-left      : 10px;
            width             : 118.5px;
            height            : 35px;
            background-image  : url('../media/images/btn-bg.png');
            background-size   : contain;
            background-repeat : no-repeat;
            text-align        : center;
            color             : #fff;
            font-size         : 10px;
            cursor            : pointer;
            outline           : none;
            border            : 0px;

            &::before {
                position         : absolute;
                display          : inline-block;
                content          : ' ';
                width            : 18px;
                height           : 18px;
                top              : 8px;
                left             : 5px;
                background-image : url('../media/images/circle-plus.png');
                background-size  : contain;
                background-repeat: no-repeat;
            }

            .button-text {
                margin-top: 3px;
            }
        }

        .footnotes {
            margin-top  : 6px;
            margin-left : -7px;
            padding-left: 10px;
            @include font-myriad-pro-regular();
            color    : $greyish-brown;
            font-size: 8px;
        }

        .hanging-indent {
            float: left;
            margin-left: -3px;
            font-size: 8px !important;
        }
    }

}


.ui-dialog .ui-dialog-titlebar {
    height: 0px;
}


.ui-dialog[aria-describedby="adverse-reaction-dialog"] {
    padding-top: 0px;
    height     : 630px !important;

    #adverse-reaction-dialog {
        margin-left: 80px;
        // margin-left: 29px;
        width      : 680px !important;
        margin-top : -15px;
        // overflow   : auto !important;
        overflow-y: auto;

        h1 {
            font-size  : 25px;
            line-height: 25px;
            color      : $orange;
            @include font-itc-avant-gard-pro-demi();
        }

        ul {
            margin-left: -8px;
        }

        >ul li::before {
            position   : absolute;
            content    : '\2022';
            margin-left: -7px;
        }

        ul li p {
            font-size: 14px;
            @include font-myriad-pro-regular();
            color        : $greyish-brown;
            margin-bottom: 5.5px;

            .ease-spacing {
                line-height: 1.2;
            }
        }

        .icon-background {
            display          : inline-block;
            width            : 22px;
            height           : 22px;
            padding-top      : 3px;
            background-image : url('../media/images/1.svg');
            background-size  : contain;
            background-repeat: no-repeat;
            color            : #fff;
            text-align       : center;
            @include font-myriad-pro-bold();

            &:last-child {
                margin-left : 5px;
                margin-right: 3px;
            }
        }

        .headline-box {
            padding-top   : 10px;
            padding-bottom: 5px;
            margin-bottom : 20px;
            border-bottom : 3px solid $golden;

            h2 {
                color: $metallic-blue;
                @include font-itc-avant-gard-pro-demi();
            }
        }

        .charts {
            position: relative;
            // padding-left: 10px;
            box-sizing  : border-box;
            // position    : absolute;
            // top         : 209px;
            // left        : 0;
            width       : 676px;
            height      : 257px;
            margin-bottom: 18px;

            // background-color: rgba(211, 211, 211, 0.137);
            >header {
                // margin-bottom: 18px;
                margin-bottom: 25px;
                p {
                    border-bottom   : #F6BE00 3px solid;
                    width           : 100%;
                }
                
                h3 {
                    @include font-itc-avant-gard-pro-demi();
                    border-bottom   : $golden 3px solid;
                    line-height: 1.2;
                }
            }

            .chart-containers {
                display: grid;
                align-items: end;
                padding-left: 18px;

                grid-template-columns: 1fr 1fr;
                .chart-left {
                    position   : relative;
                    height     : 178px;
                    width      : 197px;
                    // margin     : 32px 0 0 20px;
                    border     : solid 1px lightgrey;
                    display    : flex;
                    align-items: flex-end;

                    header {
                        position   : absolute;
                        top        : -26px;
                        left       : 46px;
                        white-space: nowrap;
                        
                        p {
                            color: $x-axis-label-grey;
                            @include font-myriad-pro-bold();
                            font-size: 9px;
                        }
                    }

                    .y-label {
                        font-size: 9px;
                        @include font-myriad-pro-semi-bold();
                        color: $x-axis-label-grey;
                        transform: rotate(-90deg) translate(16%, -43px);
                        position : absolute;
                        left     : 0;
                        top      : 50%;
                        margin   : 0;
                        line-height: 1;
                    }

                    .y-values {
                        position: absolute;
                        left: -25px;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 119%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        margin: 0;
                        li {
                            p{
                                font-size: 9px;
                                margin: 0;
                                font-weight: bold;
                            }
                        }

                    }
                    .y-lines{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        // justify-content: space-around;
                        flex-direction: column;
                        hr{
                            border: none;
                            border-top: dotted 1px lightgrey;
                            width: 100%;
                            
                            &:nth-of-type(1){
                                margin-top: 34px;
                            }
                            &:nth-of-type(2){
                                margin-top: 35px;
                            }
                            &:nth-of-type(3){
                                margin-top: 34px;
                            }
                            &:nth-of-type(4){
                                margin-top: 34px;
                            }
                        }
                    }
                    .bars {
                        position: relative;
                        display        : flex;
                        align-items    : flex-end;
                        justify-content: center;
                        width          : 100%;

                        .bar {
                            border-radius   : 7px 7px 0 0;
                            width           : 36px;
                            display         : flex;
                            justify-content : center;
                            align-items     : center;
                            background-color: #E57525;

                            .value {
                                color    : white;
                                margin   : 0;
                                font-size: 18px;
                                @include font-itc-avant-gard-pro-demi
                            }
                            .description {
                                position: absolute;
                                bottom: 0;
                                transform: translateY(23px);
                                text-align: center;
                                font-size: 9px;
                                margin: 0;
                                line-height: 1;

                                line-height: .9;
                                font-size  : 10px;
                                color      : rgb(109, 110, 112);

                                span {
                                    line-height: inherit;
                                    @include font-myriad-pro-bold();
                                    color    : $x-axis-label-grey;
                                    font-size: 10px;
                                }
                            }

                            &:nth-of-type(1) {
                                height: 72px;
                            }

                            &:nth-of-type(2) {
                                margin: 0 28px 0;
                                height: 53px;
                            }

                            &:nth-of-type(3) {
                                height: 53px;
                            }
                        }
                    }

                    .legend {
                        position      : absolute;
                        right         : 0;
                        bottom        : 0;
                        transform     : translateX(110%);
                        display       : flex;
                        flex-direction: column;

                        .key {
                            display   : flex;
                            margin-top: 3.7px;

                            .description {
                                margin     : 0;
                                margin-left: -2px;
                                font-size  : 9px;
                                line-height: 1;
                                color: $x-axis-label-grey;
                                letter-spacing: -.55px;
                            }
                        }
                    }
                }

                .chart-right {
                    position: relative;
                    height  : 186px;
                    width   : 203px;
                    // margin  : 23px 0 0 346px;
                    border-top  :1px solid lightgrey;
					border-right  :1px solid lightgrey;
					border-bottom  :1px solid lightgrey;
					border-left  :1px solid lightgrey;
                    
                    header {
                        position   : absolute;
                        top        : -17px;
                        left       : -42px;
                        white-space: nowrap;
                        color: $x-axis-label-grey;
                        @include font-myriad-pro-bold();

                        p {
                            font-size: 9px;
                        }
                    }
                    .y-label {
                        font-size: 9px;
                        @include font-myriad-pro-semi-bold();
                        transform: rotate(-90deg) translate(16%, -72px);
                        color: $x-axis-label-grey;
                        position : absolute;
                        left     : 0;
                        top      : 50%;
                        margin   : 0;
                    }

                    .y-values {
                        position       : absolute;
                        left           : -42px;
                        top            : 53%;
                        transform      : translateY(-50%);
                        height         : 110%;
                        display        : flex;
                        flex-direction : column;
                        justify-content: space-around;
                        margin         : 0;


                        li {
                            p {
                                font-size : 9px;
                                margin    : 0;
                                text-align: right;
                            }
                        }
                    }

                    .y-lines {
                        position          : absolute;
                        width             : 100%;
                        height            : 100%;
                        display           : flex;
                        // justify-content: space-around;
                        flex-direction    : column;
                        // background-color: rgba(175,181,195,.1);

                        hr {
                            border    : none;
                            border-top: dotted 1px lightgrey;
                            width     : 100%;

                            &:nth-of-type(1) {
                                margin-top: 43px;
                            }

                            &:nth-of-type(2) {
                                margin-top: 34px;
                            }

                            &:nth-of-type(3) {
                                margin-top: 34px;
                            }

                            &:nth-of-type(4) {
                                margin-top: 34px;
                            }
                        }
                    }

                    .y-axis {
                        position: absolute;
                        width   : 91%;
                        top     : 6px;
                        left    : -9px;

                        ul {
                            display       : flex;
                            flex-direction: column-reverse;

                            // margin-left: 13px;
                            li {
                                &::before {
                                    content: ''
                                }

                                //spacing between the y-axis dotted line separaters
                                margin-bottom: 20px;

                                width: 106%;

                                //labels for the y-axis
                                span {
                                    margin-left: -36px;
                                    transform  : translateY(-39%);
                                    float      : left;
                                    @include font-itc-avant-gard-pro-demi();
                                    // font-size: 11px;
                                    font-size   : .6em;
                                    width       : 34px;
                                    text-align  : right;
                                }
                            }

                        }
                    }

                    .bars-component {
                        position      : absolute;
                        display       : flex;
                        flex-direction: row;
                        height        : 175px;
                        align-items   : flex-end;
                        width         : auto;
                        right         : 0px;
                        top           : 10px;
						border-top:dotted 1px lightgrey;
						left: 0;

                        .bar {
                            height                 : 100%;
                            width                  : 35px;
                            margin-right           : 25px;
                            border-top-right-radius: 6px;
                            border-top-left-radius : 6px;

                            &:first-child {
                                margin-left: 20px;

                                &::before {
                                    width     : 100%;
                                    color     : blue;
                                    display   : block;
                                    margin-top: -1px;
                                }
                            }

                            p {
                                @include font-itc-avant-gard-pro-demi();
                                color         : white;
                                margin-bottom : 0px;
                                vertical-align: middle;
                                text-align    : center;
                                line-height   : 1;
                                font-size     : 11px;

                                &::before {
                                    margin-left   : -1px;
                                    content       : '';
                                    display       : inline-block;
                                    height        : 100%;
                                    vertical-align: middle;
                                }

                                span{
                                    @include font-itc-avant-gard-pro-demi();
                                    font-size:11px;
                                    color: #fff;
                                }
                            }

                            span.x-axis-label {
                                width      : 40px;
                                display    : inline-block;
                                line-height: .9;
                                margin-top : 6px;
                                font-size  : 10px;
                                text-align : center;
                                margin-left: -3px;
                                color      : rgb(109, 110, 112);

                                h3 {
                                    line-height: inherit;
                                    @include font-myriad-pro-bold();
                                    font-size: 10px;
                                    color    : $x-axis-label-grey;
                                }
                            }
                        }

                        .barone {
                            background-image: linear-gradient(0deg, rgba(230, 115, 0, 1) 0%, rgba(230, 115, 0, 1) 69%, rgba(240, 171, 102, 1) 69%, rgba(240, 171, 102, 1) 95%, rgba(185, 197, 206, 1) 95%, rgba(185, 197, 206, 1) 100%);

                            // stylings for first bar
                            p {

                                @include font-itc-avant-gard-pro-demi();

                                // span {
                                //     font-size: .75em;
                                // }



                                &:nth-child(1) {
                                    @include font-itc-avant-gard-pro-demi();

                                    font-size: 8px;
                                    height   : 4%; // 5%

                                    span{
                                        font-size: 8px;
                                    }
                                }

                                &:nth-child(2) {
                                    height: 27%; // 27%
                                }

                                &:nth-child(3) {
                                    height: 69%; // 69%;
                                }

                            }
                        }

                        .bartwo {
                            background-image: linear-gradient(0deg,
                                    rgba(230, 115, 0, 1) 0%,
                                    rgba(230, 115, 0, 1) 85%,
                                    rgba(240, 171, 102, 1) 85%,
                                    rgba(240, 171, 102, 1) 98%,
                                    rgba(185, 197, 206, 1) 98%,
                                    rgba(185, 197, 206, 1) 100%);
                            border-top-right-radius: 2px;
                            border-top-left-radius : 2px;

                            p {
                                &:nth-child(1) {
                                    @include font-myriad-pro-regular();

                                    font-size: 9.5px;
                                    height   : 1%; // 5%
                                }

                                &:nth-child(2) {
                                    height: 14%; // 27%
                                }

                                &:nth-child(3) {
                                    height: 85%; // 69%;
                                }
                            }

                            // the 2% label
                            p:last-child {
                                position  : absolute;
                                top       : -6.5px;
                                text-align: center;
                                width     : 37px;
                                color     : $key-legend-blue;
                                font-size : 8px;

                            }
                        }

                        .barthree {
                            background-image: linear-gradient(0deg,
                                    rgba(230, 115, 0, 1) 0%,
                                    rgba(230, 115, 0, 1) 87%,
                                    rgba(240, 171, 102, 1) 87%,
                                    rgba(240, 171, 102, 1) 99%,
                                    rgba(185, 197, 206, 1) 99%,
                                    rgba(185, 197, 206, 1) 100%);

                            p {
                                &:nth-child(1) {
                                    @include font-myriad-pro-regular();

                                    font-size: 9.5px;
                                    height   : 1%; // 5%
                                }

                                &:nth-child(2) {
                                    height: 12%; // 27%
                                }

                                &:nth-child(3) {
                                    height: 87%; // 69%;
                                }
                            }

                            //the 1% label
                            p:last-child {
                                position  : absolute;
                                top       : -6px;
                                text-align: center;
                                width     : 37px;
                                color     : $key-legend-blue;
                                font-size : 6.5px;
                                color     : rgb(178, 191, 201);
                            }
                        }
                    }

                    .legend {
                        position      : absolute;
                        right         : 0;
                        bottom        : 0;
                        transform     : translateX(106%);
                        display       : flex;
                        flex-direction: column;

                        .key {
                            display   : flex;
                            margin-top: 3.7px;

                            .color {
                                width           : 9px;
                                height          : 9px;
                                margin-right    : 2px;
                                background-color: rgba(211, 211, 211, 0.466);

                            }

                            .description {
                                margin     : 0;
                                font-size  : 9px;
                                line-height: 1;
                                color: $x-axis-label-grey;
                                letter-spacing: -.2px;
								display: flex;
								padding-top: 1px;
                            }

                            &:nth-of-type(1) {
                                .color {
                                    background-color: #B9C5CE;
                                }
                            }

                            &:nth-of-type(2) {
                                .color {
                                    background-color: #FAAB71;
                                }
                            }

                            &:nth-of-type(3) {
                                .color {
                                    background-color: #E67300;
                                }
                            }
                        }
                    }
                }
            }


        }

        .popup-svg {
            margin-top: -10px;

            .charts-wrapper {
                width      : 100%;
                margin-left: 30%;
                position   : absolute;
                top        : 32vh;
                left       : 13.5vw;
            }

        }

        .bottom-content {
            font-size: 14px;
            color    : #555;

            p {
                line-height: 13px;
                @include font-myriad-pro-semi-bold();
            }
        }

        .footnotes {
            @include font-myriad-pro-regular();
            color       : $greyish-brown;
            padding-left: 3px;

            p {
                font-size    : 8px;
                margin-bottom: 0px;
                .hanging-indent {
                    float: left;
                    margin-left: -3px;
                    font-size: 8px;
                }
            }
        }
    }
}

//----Scroll Styles----

.scroll-content {
    height            : 370px;
    overflow          : hidden;
    //background-color:pink
}


.scrollable {
    position          : relative;
    //background-color:lightblue;
}

.scrollableInner {
    //background-color:lightcoral;
    width             : 90%;
    padding-top       : 0px;
    padding-bottom    : 10px;
    
    //shared footnotes css between tabs
    .footnotes {

        //necessary for the line-height crunch.
        width: 577px;

        p {
            display: inline;
        }

        p:last-child {
            margin-top: 3px;
            display   : block;
        }

    }
}


.iScrollVerticalScrollbar {
    background-color: #ebebeb;
    //width           : 11px !important;
    //border-radius   : 0 !important;
}


.iScrollIndicator {

    //width           : 11px !important;
    background-color: $pumpkin !important;
    //border-radius   : 0 !important;
    border          : 0 !important;
}


/* New Table Styles*/

.tab-1{
    .table-main-container{
        //border:1px solid red;
        width:100%;
        height:auto;
        overflow: hidden;
        border-bottom-left-radius:10px;
        border-bottom-right-radius: 10px;
    }

    .table-header{
        //height:46px;

        .header-text-small{
            @include font-myriad-pro-semi-bold();
        }

        &.table-row{
            justify-content: flex-end;
        }
		.table-header-gray-light{
			background-color: #D9D9DA;
		}
		
        .table-header-cell--orange, 
        .table-header-cell--gray-2{
			@include font-myriad-pro-bold();
            width:37%;
            color:#fff;
            line-height: 12px;
			.x-axis-label-gray{
				color:$x-axis-label-grey;
			}
        }

    } 
    .font-fam-myriadPro-regular{
		@include font-myriad-pro-regular();
	}
	.font-fam-MyriadPro-Bold{
		@include font-myriad-pro-bold();
	}
	.bottom-gray-bg{
		background-color: #808080;
	}
    .table-row >div{
        text-align: center;
      
        padding-top:5px;
        padding-bottom:1px;
        color:$greyish-brown;
        font-size:12px;

        border-color:rgaba(255,255,255, .7);

        &.table-cell--greyish-brown{
            color:#fff;
            @include font-myriad-pro-bold();
        }

        &.table-row-header-cell{
            sup{
                font-size: 7px;
            }
        }
    }



    .table-row:not(.table-header, .table-footer){
        div{
            width:12.333%;
            @include font-myriad-pro-semi-bold();
            font-size:12px;
        }
        div:first-child{
            width:26%;
            text-align:left;
            padding-left:5px;
        }

        &.injection-site-row{
            .table-row-header-cell{
                @include font-myriad-pro-bold();
            }  
        }
    }

    .table-footer{
        >div{
            color:#fff;
            @include font-myriad-pro-bold();
            font-size:12px;
        }
        div:nth-child(1){
            width:26%;
        }
        div:nth-child(2){
            width:37%;
        }
        div:nth-child(3){
            width:37%;
        }
    }
}

.tab-3{

    .table-main-container{
        width:100%;
        height:100%;
    }

    .table-row{
        >div{
            padding-top:7px;
            padding-bottom:3px;
            @include font-myriad-pro-semi-bold();
            font-size:12px;
        }
    }

    .table-header{
        &.table-row{
            flex-direction: row-reverse;
        }
        .table-header-cell--orange{
            width:60%;
            text-align:center;
            line-height: 12px;
        }

        .header-text-small{
            @include font-myriad-pro-semi-bold();
        }
    }

    .table-row:not(.table-header){
        div{
            width:60%;
            text-align:center;
            color:$greyish-brown;
        }
        div:first-child{
            width:40%;
            text-align:left;
            padding-left:8px;
        }
    }

    .right-content, 
    .left-content{
        .table-main{
            height: auto;
            overflow: hidden;
            border-bottom-right-radius: 8px;
        }
    }
}