/* Local CSS */
@import '../../shared/css/imports';

.header{
    background-color: transparent;
}

.mainContent {
    padding:0px;
    background-image: url('../media/images/summary-bg.png');
    background-size:contain;

    @include font-itc-avant-gard-pro-demi();

    sup.superscript {
        font-size:.55em;
        position:static;
        vertical-align:super;
    }

    .icons-container{
        position: relative;
        top:258px;
        display: flex;
        justify-content: space-around;

        .icon-text-box{
            width:266px;
            
            text-align: center;
            color:#fff;

            &:first-child{
                width:305px;
                p>sup.superscript{
                    margin-left:-8px;
                }
            }

            &:nth-child(2){
                width:252px;
                margin-left:-30px;
            }

            &:nth-child(3){
                width:278px;
                margin-left:-40px;

                span.special-10 {
                    margin-left: 3.5px;
                }
            }

            img{
                width:124px;
                height: auto;
                margin:auto;
            }

            .icon-text{
                margin-top:10px;
                p{
                    font-size:21.8px;
                    color:#fff;
                    line-height: 22px;

                }

            
    
                p.small{
                    font-size:11px;
                    line-height: 12px;
                    margin-top:8px;
                }
            }
        }
    }

    .footnotes-container{
        position: relative;
        top:296px;
        width:608px;
        color:#fff;
        padding-left:10px;

        .footnotes p{
            @include font-myriad-pro-regular();
            color: #fff;
            font-size: 8px;
            line-height: 9px;
            padding-left: 1em;
           
            .hang-indent {
                display: inline-block;
                margin-left: -0.5em;
            }
        }
    }

    #viiv-connect {
        width: 123px;
        height: 35px;
        background-image: url(../media/images/btn-bg-png.png);
        background-repeat: no-repeat;
        background-position-x: -7px;
        background-position-y: -5px;
        border-radius: 5px;
        position: absolute;
        left: 877px;
        top: 517px;
        &::before {
            content: url(../../shared/media/images/red_plus.png);
            width: 17px;
            height: 17px;
            position: relative;
            left: -4px;
            top:2px;
        }
        &::after {
            content: url("../media/images/viiv-connect-png.png");
            width: 83px;
            height: 18px;
            position: relative;
            left: 6px;
        }
    }


   h1 {
    font-size: 24px;
    color: #fff;
    line-height: 33px;
    margin-bottom: 18.5px;
    float: left;
    width: 497px;
    border-right: solid 1px #fff;
   }

    .left-col-container {
        width: 493px;
        height: 400px;
        border-radius: 10px;
        background-color: #fff;
        color: $metallic-blue;
        padding-top: 12.5px;
        padding-left: 29.5px;

         p {
            &.bold-text {
                font-size: 15px;
                color: $metallic-blue;
                padding-top: 14.5px;
                padding-left: 78px;
                padding-bottom: 18px;
                width: 424px;
                border-bottom: solid 1px $metallic-blue-two;
                &::before {
                    content: url("../media/images/calendar-icon-png.png");
                    width: 58px;
                    height: 58px;
                    position: absolute;
                    left: 91px;
                    top: 188px;
                }
                &:nth-child(2) {
                    padding-top: 30px;
                    padding-bottom: 30px;
                    &::before {
                        content: " ";
                        background-image: url("../media/images/bar-chart-icon.png");
                        background-size: 115%;
                        background-repeat: no-repeat;
                        width: 58px;
                        height: 58px;
                        position: absolute;
                        left: 91px;
                        top: 274px;
                    }
                }
                &:nth-child(3) {
                    border-bottom: none;
                    padding-top: 31px;
                    padding-bottom: 35px;
                    &::before {
                        content: url("../media/images/medal-icon-png.png");
                        width: 58px;
                        height: 58px;
                        position: absolute;
                        left: 91px;
                        top: 370px;
                    }
                }
               &.last {
                margin-top: -50px;
                border-bottom: none;
                font-size: 0.65em;
               }
            }
        }
    }

   
    .clear {
        clear: both;
    }
}

div.ui-dialog[aria-describedby='viiv-connect-dialog']{
    background-image: url(../media/images/viiv-connect-background.png);
    background-repeat: no-repeat;
    background-size:cover;

    .ui-dialog-titlebar{
        height: 0px;
        padding:0px;
    }
    .bottom-bar{
        display:none;
    }
}

#viiv-connect-dialog {
    width: 825px !important;
    height: 541px !important;
    @include font-raleway-regular();
    padding:0px;

    .dialog-content{
        position: relative;
        width:100%;
        height:493px;
        
        .viiv-connect-text-content{
            width:620px;
            margin:auto auto 45px auto;

            h1{
                font-size:25px;
                color:#37bfcb;
                margin-top:40px;
                margin-bottom:15px;
                line-height: normal;
                font-weight:400;
            }

            p{
                @include font-raleway-regular();
                color:$greyish-brown;
                line-height: normal;
            }


            div.viiv-connect-list-wrapper{
                width: 110%;

                &::after {
                    content: "";
                    display: table;
                    clear: both;
                }

                .list-left {
                    float: left;

                }
                .list-right {
                    float: left;
                    margin-left: 95px;
                }
                li{
                    list-style:none;
                //    margin-left:11px;
                }
                p{
                    position: relative;
                    color:$greyish-brown;
                    margin-bottom:5px;

                    &::before{
                        position: absolute;
                        content: '\2022';
                        color:#fa292c;
                        font-size:14px;
                        left:-10px;
                    }
                }
            }

            p.footnote{
                width: 100%;
                margin-top: -15px;
                display: block;
                font-size: 8px;
            }

            #viiv-connect-logo {
                width: 156.5px;
                height: 34.5px;
                background-image: url(../media/images/viiv-connect-logo.png);
                background-repeat: no-repeat;
                background-size:contain;
            }
        }


        .viiv-connect-teal-text{
            color:#37bfcb;
            @include font-raleway-bold();
            padding-left:100px;
            position: absolute;
            bottom: 97px;
        }

        footer{
            position: absolute;
            display:flex;
            bottom:0px;
            width:100%;
            height:90px;
            background-color:#37bfcb;

            .laptop{
                background-image: url(../media/images/computer.svg);
            }

            .caller{
                background-image:url(../media/images/coordinator.svg); 
            }

            .icon-container{
                display:flex;
                padding-top:15px;

                .icon-image{
                    width:60px;
                    height: 60px;
                    border-radius: 50%;
                    background-color:#fff;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right:10px;
                }
                .icon-text{
                    color:#fff;

                    p{
                        font-size: 14px;
                        line-height: 17px;

                        span{
                            //DO NOT REMOVE. Needed for style override.
                            color:#fff;
                        }

                        &.icon-header{
                            @include font-raleway-bold();
                            font-size: 15px;
                            margin-bottom:4px;
                        }

                        .small-caps{
                            font-size:12px;
                        }
                    }//p
                }

                &:first-child{
                    margin-left: 75px;
                    margin-right: 40px;

                    p.icon-header{
                        margin-top:5px;
                    }
                }
            }
        }
    }


    .footnote {
        @include font-myriad-pro-regular();
        font-size: 8px;
        color: $greyish-brown;
    }
}




.ui-dialog[aria-describedby=viiv-connect-dialog]  button.ui-dialog-titlebar-close {
    top: -18px;
    background-image: url(../media/images/viiv-connect-close.png);
}
