/* Local CSS */
@import '../../shared/css/imports';


#container{
  background-image:  url(../../shared/media/images/faded-wings-full.png), url(../../shared/media/images/faded-container.png), url(../../shared/media/images/mural-background.png);
    background-repeat: no-repeat;
    background-position-x: 36.5px, 10px, -20px;
    background-position-y: 311.5px,  -3px, -205px;
    background-size:950px auto, 1003.5px auto, 212% auto;
}
.header{
  background:none;
}
.mainContent{
  width: 100%;
  max-width:912.5px;
  height: 481.5px;
  margin-top:75px;
  margin-left: 5.5%;
  margin-right: 5.4%;
  padding: 30px 35px 35px 35px;
  @include font-itc-avant-gard-pro-demi();
  box-sizing: border-box; 
  
  .orange-title{
    @include font-itc-avant-gard-pro-demi();
    height: 25px;
    font-size: 25px;
    letter-spacing: normal;
    color: $pumpkin;
  }

  .superscript {
    position: static;
    vertical-align: super;
    font-size: .55em;
  }

  .content-km011 {
    margin-top: 19px;
  }
  .content-km011-left{
    width:392px;
	height:242px;
	border-right:1px solid $metallic-blue;
	float: left;
	
	.content-km011-txt-vl{
	  @include  font-myriad-pro-regular();
	    width:250px;
	    float:left;
	    font-size: 14px;
	    line-height: 18px;
	    color:$greyish-brown;
	  
	  .view-baseline-btn{
	    @include font-itc-avant-gard-pro-demi();
	    font-size:10px;
	    text-transform: uppercase;
	    text-align: left;
      width: 119px;
      height: 36px;
	    color:$white;
	    object-fit: contain;
	    border-radius: 5px;
	    box-shadow: inset 0px -0.5px 5px 0 rgba(0, 0, 0, 0.2);
	    background-image: linear-gradient($golden, $pumpkin);
	    padding: 6px 0px 0px 0px;
	    cursor: pointer;
	    margin: 15px 0px 15px 130px;
	  .sum-symbol{
	    float:left;
		  margin: 0px 8px 0px 10px;
	  }
      }
	}
	
  }
  .content-km011-right {
    width:392px;
	  height:242px;
	  margin-left: 17px;
	  float: left;
	
	.content-km011-txt-v2 {
	  @include  font-myriad-pro-regular();
	  width:255px;
	  float:left;
	  font-size: 14px;
	  line-height: 18px;
	  color:$greyish-brown;
    }  
  }
     
  .content-km011-icon { 
	  width:68px;
	  float:left;
    margin-left:40px;
	  margin-right: 15px;
  }
  .orange-icon{
    color:$golden;
  }
  .sub-title-blue-yellow-line{
    // @include font-itc-avant-gard-pro-bold();
    @include font-itc-avant-gard-pro-demi();
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color:$metallic-blue;
    border-bottom: 3px solid $golden;
    padding-top: 6px;
    padding-bottom: 3px;
    margin-bottom: 10px;
  }
  .separator-5{
    width: 100%;
	height: 5px;
  }
  
  .bottom-content-smaller{
    @include font-myriad-pro-regular();
    font-size: 8px;
    color:$brownish-grey;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
	clear:both;
	padding-top: 118px;
  }
}

 /* end .mainContent */

.ui-widget.ui-widget-content{
  border:3px solid $metallic-blue;
  max-width: 825px;
  min-height: 560px;
  height: 560px;
  left:0 !important;
  right: 0;
  top:12% !important;
  margin-left: auto;
  margin-right: auto;
  background:$white url(../media/images/yellow-line.jpg) repeat-x bottom;
  // padding-top:5px !important;
  // padding-top: 5px;

 
  .bottom-content-smaller-v2 {
    @include font-myriad-pro-regular();
    font-size     : 8px;
    color         : $brownish-grey;
    font-weight   : normal;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : normal;
    letter-spacing: normal;
    text-align    : left;
    clear         : both;
    padding-top   : 8px;
    width         : 607px;
    margin        : 0 auto;
    p {
      font-size: inherit;
      line-height: 1;
    }
  }
  .orange-title-v2{
    @include font-itc-avant-gard-pro-demi();
	width:597px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: normal;
    color: $pumpkin;
	margin:0 auto;
	margin-bottom:5px;
  }
  .content-popup-km011{
    @include font-myriad-pro-regular();
	width:597px;
	font-size: 14px;
	line-height: normal;
	color: $greyish-brown;
	margin: 0 auto;
	
	.orange-icon-popup{
      color:$golden;
    }
  }
  .cta-bg-area{
    @include font-itc-avant-gard-pro-demi();
	font-size: 14px;
	line-height:17px;
    background:url(../media/images/cta-bg.png) no-repeat;
	width: 607px;
	height:57px;
	text-align: center;
	margin: 0 auto;
	color:$metallic-blue;
	padding-top: 19px;
  }


}
/* ui-widget.ui-widget-content */

// .ui-dialog .ui-dialog-titlebar{
//   height:1px;
//   padding-top:7px;
// }

.ui-dialog[aria-describedby="viral-efficacy-dialog"]{

  .ui-dialog-titlebar{
    top:-18px;
  }

  .ui-dialog-content{
    top:-110px;
    overflow: none;
    height: auto !important;
  }
} 



.svg-code{
  width:597px;
  margin: 0 auto;
  margin-top: 3px;
  margin-bottom: 8px;
}


ul.content-list{
  li>p{
      @include font-myriad-pro-regular();
      color:$greyish-brown;
      font-size:14px;
      line-height: 1.28;
  }

  >li{
      margin-left:8px;
  }

  >li::before {
      content: "\2022";
      color: $golden-rod;
      font-weight: bold;
      position: absolute;
      margin-left: -8px;
  }

  li>ul>li{
      margin-left:10px;
  }

  li>ul>li::before{
      content: '\2013';
      color: $golden-rod;
      position: absolute;
      margin-left: -10px;
  }
}
