/* Local CSS */
@import '../../shared/css/imports';

/* Overwhite KM 005 styles by Erickm*/

#container{
    background-image: url(../../shared/media/images/faded-container.png), url(../../shared/media/images/mural-background.png);
    background-repeat: no-repeat;
    // background-position-x: 56px, -20px;
    // background-position-y: 81px, -205px;
    // background-size:912.5px 500px, 212% auto;

    background-position-x: 10px, -20px;
    background-position-y: -3px, -205px;
    background-size: 1003.5px auto, 212% auto;
}
.header{
  background:none;
}

.mainContent{
  width: 100%;
  max-width:912.5px;
  height: 481.5px;
  margin-top:75px;
  margin-left: 5.5%;
  margin-right: 5.4%;
  padding: 30px 35px 35px 35px;
  @include font-itc-avant-gard-pro-demi();
  box-sizing: border-box; 
 
  .orange-title{
    @include font-itc-avant-gard-pro-demi();
    height: 25px;
    font-size: 25px;
    letter-spacing: normal;
    color: $pumpkin;
	padding-left: 7px;
  }
  .first-graphic-area {
    width: 646.5px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
  
    .graph-header {
      @include font-itc-avant-gard-pro-demi();
      font-size    : 13px;
      line-height  : 13.2px;
      color        : $dusk;
      border-bottom: solid 2px #FFCB05;
      height       : 16px;
      // width        : 623px;
      width: 80vw;
      margin-left: -89px;
      margin-bottom: 14px;
      letter-spacing: -.35px;
    }
    .chart {
      transform    : scale(1.32);
      padding-left : 12px;
      margin-bottom: 18px;
      margin-top   : 22px;
    }

    .small-content-005-wrapper {
      margin-left: -89px;
    }
  
    .small-content-005 {
      @include font-myriad-pro-regular();
      color    : $greyish-brown;
      font-size: 8px;
      margin   : 10px 0px;
      
      .hanging-indent {
        float: left;
        margin-left: -3px;
      }
    }
	
    .view-baseline-btn{
      @include font-itc-avant-gard-pro-demi();
      font-size:10px;
      text-transform: uppercase;
      text-align: left;
        width: 179px;
        height: 35px;
      color:$white;
      object-fit: contain;
      border-radius: 5px;
      box-shadow: inset 0px -0.5px 5px 0 rgba(0, 0, 0, 0.2);
      background-image: linear-gradient($golden, $pumpkin);
      padding: 6px 0px 0px 0px;
      cursor: pointer;
      margin: 8px 0px 15px 0px;
	  
      .sum-symbol {
        float : left;
        margin: 1px 8px 0px 10px;
      }
    }
  } 
}/* end .mainContent */

.ui-widget.ui-widget-content{
  border:3px solid $metallic-blue;
  max-width: 825px;
  min-height: 575px;
  left:0 !important;
  right: 0;
  top:12% !important;
  margin-left: auto;
  margin-right: auto;
  background:$white url(../media/images/yellow-line.jpg) repeat-x bottom;
  //padding-top: 1px !important;
}

.popup-svg-km005{
  //width:560px;
  width:685px;
  margin:0 auto 0 10px;
  
  .vector-smart-object{
    background-image: url(../media/images/vector-smart-object.png);
    background-repeat: no-repeat;
    background-size: 84% auto;
  background-position-x: 6px;
  background-position-y: 3px;
    width: 105px;
	height: 41px;
	position: absolute;
	// top: 250px;
  // left: 697px;
  top: 315px;
  left: 700px;
	color:$greyish-brown;
	font-size: 8px;
	line-height: 9px;
	@include font-myriad-pro-regular();
	padding-top: 8px;
	padding-left: 16px;
  }
  .sub-title-golden-line{
    @include font-itc-avant-gard-pro-demi();
    font-size:11px;
    color:$metallic-blue;
	font-weight: 400;
	padding: 7px 0px 2px 0px;
	border-bottom: 3px solid $golden;
	margin:0px 0px 7px 0px;
  }

  .orange-title-v2{
    @include font-itc-avant-gard-pro-demi();
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: normal;
    color: $pumpkin;
	margin: 0px 0px 0px 0px;
  }
  .popup-svg-small-content{
    
    margin: 5px 8px 5px 11px;
    
    
    >p{
      position: relative;
      color:$brownish-grey;
      font-size:9px;
      line-height: 10px !important; //Need for override
      margin-bottom:0px !important; //Need for override

      &:nth-child(8){
       
        .hanging-indent{
          left:-5px;
          top:5px;
       }
      }

    }
    span{
      position: relative;
      font-size:9px !important; //Need for override

      &.hanging-indent{
         top: -1px;
        
      }
    }

    .hanging-indent{
      position: absolute;
      left:-3px;
      top:3px;
    }

    
  }
}
// .ui-dialog .ui-dialog-titlebar{
//   height:1px;
//   padding-top:1px;
// }
div.ui-dialog{
  height: 570px !important;
}

.ui-dialog[aria-describedby="viral-efficacy-dialog"]{
  padding-right:4px;

  .ui-dialog-titlebar{
    top:-36px;
  }

  .ui-dialog-content{
    top:-90px;
    overflow: auto;
    overflow-y: scroll;
    overflow-x:scroll;


      svg{
        //transform:scale(1.2);
        //display:none;
      }

      h3{
        text-transform:uppercase;
        color:$metallic-blue-three;
        @include font-itc-avant-gard-pro-demi();
        border-bottom:2px solid #F6BE00;
        margin-bottom:5px;
        margin-top:8px;
        padding-bottom:1px;
        font-size:13px;
		line-height: 13px;
      }

/*New Table Styles*/
      .table-main{
        position: relative; 
        width:100%;
      }

      .table-row{
        >div{
            padding-top:5px;
            padding-bottom:3px;
            @include font-myriad-pro-semi-bold();
            color:$greyish-brown;
            font-size:9.5px;
            text-align: center;
            line-height: 11px;

            &.table-cell--full-width {
              text-align:left;
              padding-left:10px;
              padding-top:5px;
              padding-bottom:3px;
              @include font-myriad-pro-bold();
            }

            .row-text--bold{
              @include font-myriad-pro-bold();
            }

            sup{
              font-size:7px;
            }
        }
      }

      .table-header{
          &.table-row{
              margin-left: 26.989%;
              width:73.011%;
              flex-wrap:wrap;
          }
          >div{
              height:50%;
              text-align: center;
          }

          .table-header-cell--blue-gradient, 
          .table-header-cell--gray-gardient{
              width:50%;
              color:#fff;
              padding-top:8px;

              .header-text-main{
                
                @include font-itc-avant-gard-pro-demi();
                font-size:12px;
                line-height:12px;
              }

              .header-text--small{
                @include font-itc-avant-gard-pro-book();
                font-size:9px;
              }
          }
		  .header-text--small-v2{
			  @include font-myriad-pro-regular();
			  font-size:11.5px;
		  }
		  .header-text--medium-v2{
			  font-size:11.5px !important;
		  }
          .table-header-cell--orange, 
          .table-header-cell--gray-2{
              width:25%;
              line-height:12px;

              .header-text-main{
                @include font-myriad-pro-bold();
              }
          }
          .table-header-cell--orange{
            color:#fff;
          }

      }


      .table-row{
          .table-cell--gray,
          .table-cell--orange{
              width:18.3%;
          }
		  .font-family-nobold{
		  @include font-myriad-pro-regular();
		  }
          .table-row-header-cell{
              width:26.989%;
              padding-left:10px;
              text-align:left;

              
              span.row-text--regular:nth-child(3){
                display:block;
                margin-top:2px;
                
              }
          }
      }


      .row-1, .row-3, .row-5{
          div{
              color:#fff;
          }
      }

      .clinical-param-1, 
      .clinical-param-2, 
      .clinical-param-3, 
      .clinical-param-4{

        .table-cell--orange, 
        .table-cell--gray{
          display:flex;
          justify-content: center;
          align-items: center;
        }
      }

      .clinical-param-4, 
      .clinical-param-5, 
      .clinical-param-6{

        .table-cell--orange, 
        .table-cell--gray{
          @include font-myriad-pro-regular();
        }
      }


      .clinical-param-5{

          .table-row-header-cell{
            .row-text--regular{
              padding-left:6px;
            }
        }

        .table-cell--orange:nth-child(2), 
        .table-cell--gray:nth-child(3){
          padding-top:8px;
        }

        .table-cell--orange:nth-child(4), 
        .table-cell--gray:nth-child(5){
          padding-top:13px;
        }
      }
      


      .gradient-border-box-2,
      .gradient-border-box{
        //display:none;
        width: 101.5%;
        height: 34px;
        position: absolute;
       //z-index: -1;
        left: -5px;
        top: 261px;
        //background-image: linear-gradient(to right, #e67300 0%, #f6be00 100%);
     
        border-top-left-radius: 6px;
        border-bottom-right-radius: 6px;
        overflow: hidden;
    }

    .gradient-border-box-2{
        top: 359px;
        height: 94px;
        
    }

    .gradient-border-box--inner{
      width:100%;
      height:100%;
      position: absolute;
      border-image: linear-gradient(to right, #e67300 0%, #f6be00 100%) 10 round;
      border-left:6px solid;
      border-right:6px solid;
      border-top:2px solid;
      border-bottom:2px solid;
    }












  }
} 

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $orange;
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
