<div class="section home gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_000">
    <header>
        <p>home</p>
    </header>
    <ul class="sub-sections">
        <li>
            <p></p>
        </li>
    </ul>
</div>
<div class="section advancements gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_001">
    <header>
        <p>ADVANCEMENTS IN <br>TREATMENT</p>
    </header>
    <ul class="sub-sections">
        <li>
            <p></p>
        </li>
    </ul>
</div>
<div class="section introduction gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_002">
    <header>
        <p>introduction to <br>long-acting therapy</p>
    </header>
    <ul class="sub-sections">
        <li>
            <p></p>
        </li>
    </ul>
</div>
<div class="section atlas gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_003">
    <header>
        <p>ATLAS & FLAIR</p>
    </header>
    <ul class="sub-sections">
        <li>
            <p class="gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_003">Overview</p>
        </li>
        <li>
            <p class="gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_004">TRIAL DESIGNS</p>
        </li>
        <li>
            <p class="gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_005">PATIENT CHARACTERISTICS</p>
        </li>
    </ul>
</div>
<div class="section virologic-outcomes gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_006">
    <header>
        <p>Virologic Outcomes</p>
    </header>
    <ul class="sub-sections">
        <li>
            <p>EFFICACY</p>
        </li>
        <li>
            <p data-slide-section="outcomes-cvf">Confirmed Virologic Failure</p>
        </li>
    </ul>
</div>
<div class="section adverse gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_007">
    <header>
        <p>ADVERSE DRUG REACTIONS <br> AND DISCONTINUATION RATES</p>
    </header>
    <ul class="sub-sections">
        <li>
            <p></p>
        </li>
    </ul>
</div>
<div class="section patient-outcomes gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_008">
    <header>
        <p>Patient-Reported <br>Outcomes</p>
    </header>
    <ul class="sub-sections">
        <li>
            <p>Patient-Reported Outcomes Overview</p>
        </li>
        <li>
            <p class="gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_009">PATIENT PREFERENCE</p>
        </li>
    </ul>
</div>
<div class="section testimonials gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_010">
    <header>
        <p>PATIENT TESTIMONIALS</p>
    </header>
    <ul class="sub-sections">
        <li>
            <p></p>
        </li>
    </ul>
</div>
<div class="section identification gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_011">
    <header>
        <p>PATIENT IDENTIFICATION</p>
    </header>
    <ul class="sub-sections">
        <li>
            <p></p>
        </li>
    </ul>
</div>
<div class="section dosing gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_012">
    <header>
        <p>DOSING</p>
    </header>
    <ul class="sub-sections">
        <li>
            <p>DOSING SCHEDULE</p>
        </li>
        <li>
            <p data-slide-section="dosing-calendar">DOSING CALENDAR</p>
        </li>
    </ul>
</div>
<div class="section summary gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_013">
    <header>
        <p>SUMMARY</p>
    </header>
    <ul class="sub-sections">
        <li>
            <p></p>
        </li>
    </ul>
</div>
<div class="section implementation gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_012">
    <header>
        <p data-slide-section="dosing-implementation">IMPLEMENTATION</p>
    </header>
    <ul class="sub-sections">
        <li>
            <p></p>
        </li>
    </ul>
</div>
<div class="section implementation gotoSlide" data-slide="CBTEDTL190001_CABENUVA_2019_US1.0_012">
    <header>
        <p data-slide-section="dosing-pkp">PHARMACOKINETIC <br>PROFILE</p>
    </header>
    <ul class="sub-sections">
        <li>
            <p></p>
        </li>
    </ul>
</div>

<script>
    $('#customMenu .customMenu .gotoSlide').click(
        $e => {
            $e.preventDefault();
            let slide;
            const slideSection = $e.target.dataset.slideSection;

            // console.log(slideSection);
            if (!$e.target.dataset.slide) {
                const parentSlide = $($e.target).closest('.section')[0];
                slide = parentSlide.dataset.slide;
            } else {
                slide = $e.target.dataset.slide
            }


            if (slide && slideSection ) {
                sessionStorage.setItem('slideSection', slideSection);
                setTimeout(() => {
                    com.gsk.mt.gotoSlide(slide);
                }, 10);
                
            } else if (slide) {
                com.gsk.mt.gotoSlide(slide);
            }
        }
    );
</script>