/* Myriad Pro */

@font-face {
    font-family: 'MyriadPro-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('MyriadPro-Bold'), local('MyriadPro-Bold'), url(../../shared/media/fonts/MyriadPro-Bold.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @mixin font-myriad-pro-bold() {
    font-family: MyriadPro-Bold;
    font-weight: 700;
    font-variant-ligatures: none; 
  }

  @font-face {
    font-family: 'MyriadPro-Semibold';
    font-style: normal;
    font-weight: 700;
    src: local('MyriadPro-Semibold'), local('MyriadPro-Semibold'), url(../../shared/media/fonts/MyriadPro-Semibold.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @mixin font-myriad-pro-semi-bold() {
    font-family: MyriadPro-Semibold;
    font-weight: 700;
    font-variant-ligatures: none; 
  }

  @font-face {
    font-family: 'MyriadPro-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('MyriadPro-Regular'), local('MyriadPro-Regular'), url(../../shared/media/fonts/MyriadPro-Regular.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @mixin font-myriad-pro-regular() {
    font-family: MyriadPro-Regular;
    font-weight: 400;
    font-variant-ligatures: none; 
  }

  @font-face {
    font-family: 'MyriadPro-BoldSemiExt';
    font-style: normal;
    font-weight: 700;
    src: local('MyriadPro-BoldSemiExt'), local('MyriadPro-BoldSemiExt'), url(../../shared/media/fonts/MyriadPro-BoldSemiExt.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @mixin font-myriad-pro-bold-semi-ext() {
    font-family: MyriadPro-BoldSemiExt;
    font-weight: 700;
    font-variant-ligatures: none; 
  }

  @font-face {
    font-family: 'MyriadPro-SemiboldSemiExt';
    font-style: normal;
    font-weight: 400;
    src: local('MyriadPro-SemiboldSemiExt'), local('MyriadPro-SemiboldSemiExt'), url(../../shared/media/fonts/MyriadPro-SemiboldSemiExt.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @mixin font-myriad-pro-semibold-semi-ext() {
    font-family: MyriadPro-semiboldSemiExt;
    font-weight: 400;
    font-variant-ligatures: none; 
  }


  /* ITC-ITCAvantGardePro-Demi */

  @font-face {
    font-family: 'ITC-ITCAvantGardePro-Demi';
    font-style: normal;
    font-weight: 400;
    src: local('ITC-ITCAvantGardePro-Demi'), local('ITC-ITCAvantGardePro-Demi'), url(../../shared/media/fonts/ITC-ITCAvantGardePro-Demi.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @mixin font-itc-avant-gard-pro-demi() {
    font-family: ITC-ITCAvantGardePro-Demi;
    font-weight: 400;
    font-variant-ligatures: none; 
  }

  @font-face {
    font-family: 'ITC-ITCAvantGardePro-Bold';
    font-style: normal;
    font-weight: 400;
    src: local('ITC-ITCAvantGardePro-Bold'), local('ITC-ITCAvantGardePro-Bold'), url(../../shared/media/fonts/ITC-ITCAvantGardePro-Bold.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @mixin font-itc-avant-gard-pro-bold() {
    font-family: ITC-ITCAvantGardePro-Bold;
    font-weight: 400;
    font-variant-ligatures: none; 
  }

  @font-face {
    font-family: 'ITC-ITCAvantGardePro-Bk';
    font-style: normal;
    font-weight: 400;
    src: local('ITC-ITCAvantGardePro-Bk'), local('ITC-ITCAvantGardePro-Bk'), url(../../shared/media/fonts/ITC-ITCAvantGardePro-Bk.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @mixin font-itc-avant-gard-pro-book() {
    font-family: ITC-ITCAvantGardePro-Bk;
    font-weight: 400;
    font-variant-ligatures: none; 
  }

  @font-face {
    font-family: 'ITC-ITCAvantGardePro-BkObl';
    font-style: normal;
    font-weight: 400;
    src: local('ITC-ITCAvantGardePro-BkObl'), local('ITC-ITCAvantGardePro-BkObl'), url(../../shared/media/fonts/ITC-ITCAvantGardePro-BkObl.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @mixin font-itc-avant-gard-pro-book-obliqiue() {
    font-family: ITC-ITCAvantGardePro-BkObl;
    font-weight: 400;
    font-variant-ligatures: none; 
  }

  @font-face {
    font-family: 'ITC-ITCAvantGardeStd-BoldCn';
    font-style: normal;
    font-weight: 400;
    src: local('ITC-ITCAvantGardeStd-BoldCn'), local('ITC-ITCAvantGardeStd-BoldCn'), url(../../shared/media/fonts/ITC-ITCAvantGardeStd-BoldCn.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @mixin font-itc-avant-gard-std-bold-cond() {
    font-family: ITC-ITCAvantGardeStd-BoldCn;
    font-weight: 400;
    font-variant-ligatures: none; 
  }

  /*  Acumin PRO Extra Condensed */

  @font-face {
    font-family: 'acuminproextracond-semibold';
    font-style: normal;
    font-weight: 400;
    src: local('acuminproextracond-semibold'), local('acuminproextracond-semibold'), url(../../shared/media/fonts/acuminproextracond-semibold.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @mixin font-acumin-pro-extra-cond(){
    font-family: acuminproextracond-semibold;
    font-weight: 400;
    font-variant-ligatures: none; 
  }

  /* Raleway */

  @font-face {
    font-family: 'raleway-regular';
    font-style: normal;
    font-weight: 400;
    src: local('raleway-regular'), local('raleway-regular'), url(../../shared/media/fonts/Raleway-Regular.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @mixin font-raleway-regular(){
    font-family: raleway-regular;
    font-weight: 400;
    font-variant-ligatures: none; 
  }


  @font-face {
    font-family: 'raleway-bold';
    font-style: normal;
    font-weight: 700;
    src: local('raleway-bold'), local('raleway-bold'), url(../../shared/media/fonts/Raleway-Bold.otf) format('opentype') ;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @mixin font-raleway-bold(){
    font-family: raleway-bold;
    font-weight: 700;
    font-variant-ligatures: none; 
  }


  