
/* CABENUVA color variables */

$greyish-brown: #555;
$metallic-blue: #506c85;
$metallic-blue-two: #4e6780;
$metallic-blue-three: #506d85;

$blue-grey: #617a91;
$pumpkin: #e67300; //RGB(230, 115, 0)
$pumpkin-two: #ec7601;
$orange: #f57e20;
$golden: #f6bd00;
$golden-rod: #f5be0b;
$greyish-brown-two: #464646;
$brownish-grey: #636363;
$dark-grey-blue: #334658;
$dark-grey-blue-three:#506D85;
$pale-orange: #f0ab66;
$dark-grey-blue-two: #3a546d;
$white: #fff;
$white-two: #fafafa;
$pale: #fbead9;
$white-two: #fafafa;
$sea-blue: #086594;
$very-light-pink: #ebebeb;
$dusk: #525977;

//charting colors
$key-legend-blue: #B2BFC9;
$x-axis-label-grey: #6D6E70; //rgb(109, 110, 112);
$chart-stroke-grey: #A6A4A5;
$chart-box-blue: #FAFAFA;
$chart-bar-grey: #989898; //RGB(152, 152, 152)
$chart-bar-orange: #E57525








